/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  min-height: 100vh;
  width: 100%;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $vspacing-unit;
  margin-top: $vspacing-unit;
}


/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}


/**
 * Images and Figures
 */
img {
  max-width: 100%;
  vertical-align: middle;
  display: block;
}

p img, img[alt^="center"] {
  margin: $vspacing-unit auto;
}

img[alt^="right"] {
  margin: 0 0 $vspacing-unit $vspacing-unit;
  float: right;
}

img[alt^="left"] {
  margin: 0 $vspacing-unit $vspacing-unit 0;
  clear: both;
  float: left;
}

figure {
  margin: $vspacing-unit auto;
  width: fit-content;
  display: table;
  img {
    display: block;
    margin: 0 auto;
  }
  figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    font-size: $small-font-size;
  }
}

figure.right {
  clear: both;
  float: right;
  margin: 0 0 $vspacing-unit $vspacing-unit;
}

figure.left {
  clear: both;
  float: left;
  margin: 0 $vspacing-unit $vspacing-unit 0;
}

hr.clear {
  /* used to clear floating figure */
  clear: both;
  border: none;
  margin: 0;
}


/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-top: 0;
  }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $bold-font-weight;
}


/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $vspacing-unit;
  @include relative-font-size(1);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}


/**
 * Code formatting
 */
pre,
code {
  /*@include relative-font-size(1);*/
  font-size: inherit;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
  font-family: $mono-font-family;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


/**
 * Wrapper
 */
.wrapper {
  max-width: $content-width - ($spacing-unit * 2);
  margin-right: auto;
  margin-left: auto;
  padding: 0 $spacing-unit;
  /*@extend %clearfix;*/
}


/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/**
 * Icons
 */
.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}
.social-media-list {
  li + li {
    padding-top: 5px;
  }
}
.icon-left, .icon-home {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: $grey-color;
}



/**
 * Tables
 */
table {
  //margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  //border: 1px solid $grey-color-light;
  border: 0;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    //border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    //border: 1px solid $grey-color-light;
  }
}


/**
 * Advertisement
 */
.advertise {
  text-align: center;
}


/**
 * YouTube
 */
.youtube, iframe[src^="https://www.youtube.com/"] {
  width: 560px;
  height: 315px;
  @include media-query(560px + $spacing-unit) {
    width: 80vw;
    height: 45vw;
  }
}


/* vim:set sts=2 sw=2 expandtab: */
